@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap"); /* https://data-deveb.github.io/
   1.0srmü
*/
html {
  line-height: normal;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: "DM Sans", sans-serif;
  background-color: #f3f6fd;
}

bet {
  display: grid;
  width: 100%;
  grid-template-columns: auto 20fr 1fr;
  grid-template-rows: auto 1fr auto;
  gap: 12px 24px;
  padding: 24px;
  grid-auto-flow: row;
  grid-template-areas: "bölüm-sol bölüm-üst bölüm-üst" "bölüm-sol bölüm-orta bölüm-sağ" "bölüm-sol bölüm-alt bölüm-alt";
}

bölüm#sol {
  grid-area: bölüm-sol;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

bölüm#üst {
  grid-area: bölüm-üst;
}

bölüm#orta {
  grid-area: bölüm-orta;
}

bölüm#sağ {
  grid-area: bölüm-sağ;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

bölüm#alt {
  grid-area: bölüm-alt;
}

.alan {
  background-color: #fff;
  border-radius: 24px;
  padding: 24px;
}

.üyelik {
  align-items: center;
  gap: 10px;
}

.üyelik > img {
  border-radius: 50%;
  height: 32px;
  width: 32px;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo > p {
  color: #1f1c2e;
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin: 0 32px;
}

.dizme {
  display: grid;
  grid-auto-rows: auto;
  grid-template-columns: repeat(5, auto) repeat(1, 1fr);
  grid-gap: 0px;
  padding: 0px;
  border-top: 1px solid gray;
  border-left: 1px solid gray;
}

.dizme > div {
  display: flex;
  align-items: center;
  padding: 10px;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;
}

.dizme > [başlık] {
  background-color: turquoise;
  border: 1px solid black;
  border-right: 0px solid black;
  margin-left: -1px;
  margin-top: -1px;
}

.dizme > [başlık]:nth-child(n-1) {
  border-right: 1px solid black;
}

.bilgi-1 {
  margin-bottom: 12px;
  gap: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: ghostwhite;
}

.bilgi-1 .düğmeler {
  margin-left: auto;
  gap: 12px;
  align-items: center;
}

button {
  outline: none;
  text-align: center;
  border-radius: 12px;
  background: #fff;
  border: 1px solid #3e64ff;
  color: #3e64ff;
  letter-spacing: 1px;
  text-shadow: 0;
  font-size: 12px;
  cursor: pointer;
  transition: all 0.25s ease;
  padding: 4px 8px;
}

label:hover > button, button:hover {
  color: white;
  background: #3e64ff;
}

button:active {
  letter-spacing: 2px;
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.bilgi-1 .onaylı {
  color: green;
  font-weight: 700;
}

.bilgi-1 .icerik {
  gap: 5px;
}

.bilgi-1 .ek {
  display: flex;
  align-items: center;
  gap: 5px;
}

.bilgi-1 .ek .içerik {
  background-color: black;
  color: white;
  padding: 0 10px;
  border-radius: 5px;
  font-size: 24px;
}

.bilgi-1 .ek .id {
  color: darkgray;
}

.bilgi-1 .ek .sürüm {
  font-size: 11pt;
  color: cadetblue;
}

.ekleme-bilgileri {
  gap: 5px 10px;
  align-items: center;
  font-size: 14px;
}

.ekleme-bilgileri .ekleyen {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ekleme-bilgileri .ekleyen img {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  -o-object-fit: cover;
     object-fit: cover;
}

/************************************************************************
╔═══════════════════════════════════════════════════════════════════════╗
║ BASMACA 1.0                                                           ║
║ https://data-deveb.github.io/basmaca                                  ║
║ https://github.com/data-deveb/basmaca                                 ║
╚═══════════════════════════════════════════════════════════════════════╝
************************************************************************/
input[id*=-basmacayı-],
input[id*=-basmacayı-]:checked + *,
input[id*=-basmacayı-]:not(:checked) + label + label[for$=-basmacayı-kapa] {
  /* <input> hep görünmez tutulur. */
  display: none;
}

input[id$=-basmacayı-aç] + label,
input[id$=-basmacayı-aç] + * + label {
  /* Tıklar iken yazılar seçilmemeli */
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

input[id$=-basmacayı-aç] + label > button,
input[id$=-basmacayı-aç] + * + label > button {
  /* Kolanlar bir düğme barındırır iken işlemesi için tanımlandı. */
  pointer-events: none;
}

@media screen and (min-width: 0) {
  [class*="/"] {
    --b: 0;
    --i: 0;
    --o: 0;
    --n: 0;
  }
  [class*="1/"] {
    --b: 1;
  }
  [class*="2/"] {
    --b: 2;
  }
  [class*="3/"] {
    --b: 3;
  }
  [class*="4/"] {
    --b: 4;
  }
  [class*="5/"] {
    --b: 5;
  }
  [class*="6/"] {
    --b: 6;
  }
  [class*="7/"] {
    --b: 7;
  }
  [class*="8/"] {
    --b: 8;
  }
  [class*="9/"] {
    --b: 9;
  }
  [class*="100/"] {
    --b: 90;
  }
  [class*="(1"]:not([class*="(1/"]) {
    --o: 1;
  }
  [class*="(2"]:not([class*="(2/"]) {
    --o: 2;
  }
  [class*="(3"]:not([class*="(3/"]) {
    --o: 3;
  }
  [class*="(4"]:not([class*="(4/"]) {
    --o: 4;
  }
  [class*="(5"]:not([class*="(5/"]) {
    --o: 5;
  }
  [class*="(6"]:not([class*="(6/"]) {
    --o: 6;
  }
  [class*="(7"]:not([class*="(7/"]) {
    --o: 7;
  }
  [class*="(8"]:not([class*="(8/"]) {
    --o: 8;
  }
  [class*="(9"]:not([class*="(9/"]) {
    --o: 9;
  }
  [class*="1)"] {
    --i: 1;
  }
  [class*="2)"] {
    --i: 2;
  }
  [class*="3)"] {
    --i: 3;
  }
  [class*="4)"] {
    --i: 4;
  }
  [class*="5)"] {
    --i: 5;
  }
  [class*="6)"] {
    --i: 6;
  }
  [class*="7)"] {
    --i: 7;
  }
  [class*="8)"] {
    --i: 8;
  }
  [class*="9)"] {
    --i: 9;
  }
  [class*="/100"] {
    --i: 90;
  }
  [class*="/1"]:not([class*="/1)"]) {
    --n: 1;
  }
  [class*="/2"]:not([class*="/2)"]) {
    --n: 2;
  }
  [class*="/3"]:not([class*="/3)"]) {
    --n: 3;
  }
  [class*="/4"]:not([class*="/4)"]) {
    --n: 4;
  }
  [class*="/5"]:not([class*="/5)"]) {
    --n: 5;
  }
  [class*="/6"]:not([class*="/6)"]) {
    --n: 6;
  }
  [class*="/7"]:not([class*="/7)"]) {
    --n: 7;
  }
  [class*="/8"]:not([class*="/8)"]) {
    --n: 8;
  }
  [class*="/9"]:not([class*="/9)"]) {
    --n: 9;
  }
  [class*=görünür] {
    display: inherit;
  }
  [class*=gizli] {
    display: none;
  }
  [class*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [class*=block] {
    display: block;
  }
}
@media screen and (min-width: 576px) {
  [\-küçük*="/"] {
    --b: 0;
    --i: 0;
    --o: 0;
    --n: 0;
  }
  [\-küçük*="1/"] {
    --b: 1;
  }
  [\-küçük*="2/"] {
    --b: 2;
  }
  [\-küçük*="3/"] {
    --b: 3;
  }
  [\-küçük*="4/"] {
    --b: 4;
  }
  [\-küçük*="5/"] {
    --b: 5;
  }
  [\-küçük*="6/"] {
    --b: 6;
  }
  [\-küçük*="7/"] {
    --b: 7;
  }
  [\-küçük*="8/"] {
    --b: 8;
  }
  [\-küçük*="9/"] {
    --b: 9;
  }
  [\-küçük*="100/"] {
    --b: 90;
  }
  [\-küçük*="(1"]:not([\-küçük*="(1/"]) {
    --o: 1;
  }
  [\-küçük*="(2"]:not([\-küçük*="(2/"]) {
    --o: 2;
  }
  [\-küçük*="(3"]:not([\-küçük*="(3/"]) {
    --o: 3;
  }
  [\-küçük*="(4"]:not([\-küçük*="(4/"]) {
    --o: 4;
  }
  [\-küçük*="(5"]:not([\-küçük*="(5/"]) {
    --o: 5;
  }
  [\-küçük*="(6"]:not([\-küçük*="(6/"]) {
    --o: 6;
  }
  [\-küçük*="(7"]:not([\-küçük*="(7/"]) {
    --o: 7;
  }
  [\-küçük*="(8"]:not([\-küçük*="(8/"]) {
    --o: 8;
  }
  [\-küçük*="(9"]:not([\-küçük*="(9/"]) {
    --o: 9;
  }
  [\-küçük*="1)"] {
    --i: 1;
  }
  [\-küçük*="2)"] {
    --i: 2;
  }
  [\-küçük*="3)"] {
    --i: 3;
  }
  [\-küçük*="4)"] {
    --i: 4;
  }
  [\-küçük*="5)"] {
    --i: 5;
  }
  [\-küçük*="6)"] {
    --i: 6;
  }
  [\-küçük*="7)"] {
    --i: 7;
  }
  [\-küçük*="8)"] {
    --i: 8;
  }
  [\-küçük*="9)"] {
    --i: 9;
  }
  [\-küçük*="/100"] {
    --i: 90;
  }
  [\-küçük*="/1"]:not([\-küçük*="/1)"]) {
    --n: 1;
  }
  [\-küçük*="/2"]:not([\-küçük*="/2)"]) {
    --n: 2;
  }
  [\-küçük*="/3"]:not([\-küçük*="/3)"]) {
    --n: 3;
  }
  [\-küçük*="/4"]:not([\-küçük*="/4)"]) {
    --n: 4;
  }
  [\-küçük*="/5"]:not([\-küçük*="/5)"]) {
    --n: 5;
  }
  [\-küçük*="/6"]:not([\-küçük*="/6)"]) {
    --n: 6;
  }
  [\-küçük*="/7"]:not([\-küçük*="/7)"]) {
    --n: 7;
  }
  [\-küçük*="/8"]:not([\-küçük*="/8)"]) {
    --n: 8;
  }
  [\-küçük*="/9"]:not([\-küçük*="/9)"]) {
    --n: 9;
  }
  [\-küçük*=görünür] {
    display: inherit;
  }
  [\-küçük*=gizli] {
    display: none;
  }
  [\-küçük*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [\-küçük*=block] {
    display: block;
  }
}
@media screen and (min-width: 768px) {
  [\-ortanca*="/"] {
    --b: 0;
    --i: 0;
    --o: 0;
    --n: 0;
  }
  [\-ortanca*="1/"] {
    --b: 1;
  }
  [\-ortanca*="2/"] {
    --b: 2;
  }
  [\-ortanca*="3/"] {
    --b: 3;
  }
  [\-ortanca*="4/"] {
    --b: 4;
  }
  [\-ortanca*="5/"] {
    --b: 5;
  }
  [\-ortanca*="6/"] {
    --b: 6;
  }
  [\-ortanca*="7/"] {
    --b: 7;
  }
  [\-ortanca*="8/"] {
    --b: 8;
  }
  [\-ortanca*="9/"] {
    --b: 9;
  }
  [\-ortanca*="100/"] {
    --b: 90;
  }
  [\-ortanca*="(1"]:not([\-ortanca*="(1/"]) {
    --o: 1;
  }
  [\-ortanca*="(2"]:not([\-ortanca*="(2/"]) {
    --o: 2;
  }
  [\-ortanca*="(3"]:not([\-ortanca*="(3/"]) {
    --o: 3;
  }
  [\-ortanca*="(4"]:not([\-ortanca*="(4/"]) {
    --o: 4;
  }
  [\-ortanca*="(5"]:not([\-ortanca*="(5/"]) {
    --o: 5;
  }
  [\-ortanca*="(6"]:not([\-ortanca*="(6/"]) {
    --o: 6;
  }
  [\-ortanca*="(7"]:not([\-ortanca*="(7/"]) {
    --o: 7;
  }
  [\-ortanca*="(8"]:not([\-ortanca*="(8/"]) {
    --o: 8;
  }
  [\-ortanca*="(9"]:not([\-ortanca*="(9/"]) {
    --o: 9;
  }
  [\-ortanca*="1)"] {
    --i: 1;
  }
  [\-ortanca*="2)"] {
    --i: 2;
  }
  [\-ortanca*="3)"] {
    --i: 3;
  }
  [\-ortanca*="4)"] {
    --i: 4;
  }
  [\-ortanca*="5)"] {
    --i: 5;
  }
  [\-ortanca*="6)"] {
    --i: 6;
  }
  [\-ortanca*="7)"] {
    --i: 7;
  }
  [\-ortanca*="8)"] {
    --i: 8;
  }
  [\-ortanca*="9)"] {
    --i: 9;
  }
  [\-ortanca*="/100"] {
    --i: 90;
  }
  [\-ortanca*="/1"]:not([\-ortanca*="/1)"]) {
    --n: 1;
  }
  [\-ortanca*="/2"]:not([\-ortanca*="/2)"]) {
    --n: 2;
  }
  [\-ortanca*="/3"]:not([\-ortanca*="/3)"]) {
    --n: 3;
  }
  [\-ortanca*="/4"]:not([\-ortanca*="/4)"]) {
    --n: 4;
  }
  [\-ortanca*="/5"]:not([\-ortanca*="/5)"]) {
    --n: 5;
  }
  [\-ortanca*="/6"]:not([\-ortanca*="/6)"]) {
    --n: 6;
  }
  [\-ortanca*="/7"]:not([\-ortanca*="/7)"]) {
    --n: 7;
  }
  [\-ortanca*="/8"]:not([\-ortanca*="/8)"]) {
    --n: 8;
  }
  [\-ortanca*="/9"]:not([\-ortanca*="/9)"]) {
    --n: 9;
  }
  [\-ortanca*=görünür] {
    display: inherit;
  }
  [\-ortanca*=gizli] {
    display: none;
  }
  [\-ortanca*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [\-ortanca*=block] {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  [\-büyük*="/"] {
    --b: 0;
    --i: 0;
    --o: 0;
    --n: 0;
  }
  [\-büyük*="1/"] {
    --b: 1;
  }
  [\-büyük*="2/"] {
    --b: 2;
  }
  [\-büyük*="3/"] {
    --b: 3;
  }
  [\-büyük*="4/"] {
    --b: 4;
  }
  [\-büyük*="5/"] {
    --b: 5;
  }
  [\-büyük*="6/"] {
    --b: 6;
  }
  [\-büyük*="7/"] {
    --b: 7;
  }
  [\-büyük*="8/"] {
    --b: 8;
  }
  [\-büyük*="9/"] {
    --b: 9;
  }
  [\-büyük*="100/"] {
    --b: 90;
  }
  [\-büyük*="(1"]:not([\-büyük*="(1/"]) {
    --o: 1;
  }
  [\-büyük*="(2"]:not([\-büyük*="(2/"]) {
    --o: 2;
  }
  [\-büyük*="(3"]:not([\-büyük*="(3/"]) {
    --o: 3;
  }
  [\-büyük*="(4"]:not([\-büyük*="(4/"]) {
    --o: 4;
  }
  [\-büyük*="(5"]:not([\-büyük*="(5/"]) {
    --o: 5;
  }
  [\-büyük*="(6"]:not([\-büyük*="(6/"]) {
    --o: 6;
  }
  [\-büyük*="(7"]:not([\-büyük*="(7/"]) {
    --o: 7;
  }
  [\-büyük*="(8"]:not([\-büyük*="(8/"]) {
    --o: 8;
  }
  [\-büyük*="(9"]:not([\-büyük*="(9/"]) {
    --o: 9;
  }
  [\-büyük*="1)"] {
    --i: 1;
  }
  [\-büyük*="2)"] {
    --i: 2;
  }
  [\-büyük*="3)"] {
    --i: 3;
  }
  [\-büyük*="4)"] {
    --i: 4;
  }
  [\-büyük*="5)"] {
    --i: 5;
  }
  [\-büyük*="6)"] {
    --i: 6;
  }
  [\-büyük*="7)"] {
    --i: 7;
  }
  [\-büyük*="8)"] {
    --i: 8;
  }
  [\-büyük*="9)"] {
    --i: 9;
  }
  [\-büyük*="/100"] {
    --i: 90;
  }
  [\-büyük*="/1"]:not([\-büyük*="/1)"]) {
    --n: 1;
  }
  [\-büyük*="/2"]:not([\-büyük*="/2)"]) {
    --n: 2;
  }
  [\-büyük*="/3"]:not([\-büyük*="/3)"]) {
    --n: 3;
  }
  [\-büyük*="/4"]:not([\-büyük*="/4)"]) {
    --n: 4;
  }
  [\-büyük*="/5"]:not([\-büyük*="/5)"]) {
    --n: 5;
  }
  [\-büyük*="/6"]:not([\-büyük*="/6)"]) {
    --n: 6;
  }
  [\-büyük*="/7"]:not([\-büyük*="/7)"]) {
    --n: 7;
  }
  [\-büyük*="/8"]:not([\-büyük*="/8)"]) {
    --n: 8;
  }
  [\-büyük*="/9"]:not([\-büyük*="/9)"]) {
    --n: 9;
  }
  [\-büyük*=görünür] {
    display: inherit;
  }
  [\-büyük*=gizli] {
    display: none;
  }
  [\-büyük*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [\-büyük*=block] {
    display: block;
  }
}
@media screen and (min-width: 1200px) {
  [\-koca*="/"] {
    --b: 0;
    --i: 0;
    --o: 0;
    --n: 0;
  }
  [\-koca*="1/"] {
    --b: 1;
  }
  [\-koca*="2/"] {
    --b: 2;
  }
  [\-koca*="3/"] {
    --b: 3;
  }
  [\-koca*="4/"] {
    --b: 4;
  }
  [\-koca*="5/"] {
    --b: 5;
  }
  [\-koca*="6/"] {
    --b: 6;
  }
  [\-koca*="7/"] {
    --b: 7;
  }
  [\-koca*="8/"] {
    --b: 8;
  }
  [\-koca*="9/"] {
    --b: 9;
  }
  [\-koca*="100/"] {
    --b: 90;
  }
  [\-koca*="(1"]:not([\-koca*="(1/"]) {
    --o: 1;
  }
  [\-koca*="(2"]:not([\-koca*="(2/"]) {
    --o: 2;
  }
  [\-koca*="(3"]:not([\-koca*="(3/"]) {
    --o: 3;
  }
  [\-koca*="(4"]:not([\-koca*="(4/"]) {
    --o: 4;
  }
  [\-koca*="(5"]:not([\-koca*="(5/"]) {
    --o: 5;
  }
  [\-koca*="(6"]:not([\-koca*="(6/"]) {
    --o: 6;
  }
  [\-koca*="(7"]:not([\-koca*="(7/"]) {
    --o: 7;
  }
  [\-koca*="(8"]:not([\-koca*="(8/"]) {
    --o: 8;
  }
  [\-koca*="(9"]:not([\-koca*="(9/"]) {
    --o: 9;
  }
  [\-koca*="1)"] {
    --i: 1;
  }
  [\-koca*="2)"] {
    --i: 2;
  }
  [\-koca*="3)"] {
    --i: 3;
  }
  [\-koca*="4)"] {
    --i: 4;
  }
  [\-koca*="5)"] {
    --i: 5;
  }
  [\-koca*="6)"] {
    --i: 6;
  }
  [\-koca*="7)"] {
    --i: 7;
  }
  [\-koca*="8)"] {
    --i: 8;
  }
  [\-koca*="9)"] {
    --i: 9;
  }
  [\-koca*="/100"] {
    --i: 90;
  }
  [\-koca*="/1"]:not([\-koca*="/1)"]) {
    --n: 1;
  }
  [\-koca*="/2"]:not([\-koca*="/2)"]) {
    --n: 2;
  }
  [\-koca*="/3"]:not([\-koca*="/3)"]) {
    --n: 3;
  }
  [\-koca*="/4"]:not([\-koca*="/4)"]) {
    --n: 4;
  }
  [\-koca*="/5"]:not([\-koca*="/5)"]) {
    --n: 5;
  }
  [\-koca*="/6"]:not([\-koca*="/6)"]) {
    --n: 6;
  }
  [\-koca*="/7"]:not([\-koca*="/7)"]) {
    --n: 7;
  }
  [\-koca*="/8"]:not([\-koca*="/8)"]) {
    --n: 8;
  }
  [\-koca*="/9"]:not([\-koca*="/9)"]) {
    --n: 9;
  }
  [\-koca*=görünür] {
    display: inherit;
  }
  [\-koca*=gizli] {
    display: none;
  }
  [\-koca*=esnek] {
    display: flex;
    flex-wrap: wrap;
  }
  [\-koca*=block] {
    display: block;
  }
}
[\-koca*="/"], [\-büyük*="/"], [\-ortanca*="/"], [\-küçük*="/"], [class*="/"] {
  width: calc(100% * (var(--o) * 10 + var(--b)) / (var(--n) * 10 + var(--i)));
}

[\-koca*="/)"], [\-büyük*="/)"], [\-ortanca*="/)"], [\-küçük*="/)"], [class*="/)"] {
  flex: calc(var(--o) * 10 + var(--b));
}

[\-koca*="(0)"], [\-büyük*="(0)"], [\-ortanca*="(0)"], [\-küçük*="(0)"], [class*="(0)"] {
  flex-basis: auto;
  max-width: none;
  width: auto;
}

[class*=sağlı] {
  margin-left: auto;
}

[\-küçük*=sağlı] {
  margin-left: auto;
}

[\-ortanca*=sağlı] {
  margin-left: auto;
}

[\-büyük*=sağlı] {
  margin-left: auto;
}

[\-koca*=sağlı] {
  margin-left: auto;
}/*# sourceMappingURL=deveb.css.map */