@charset "UTF-8";
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  line-height: 1.5;
  font-family: "Times New Roman", Times, serif;
}

html[lang*=en] {
  line-height: 1.15;
}

body {
  margin: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

/* Interactive
   ========================================================================== */
details {
  display: block;
}

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
template {
  display: none;
}

[hidden], [gizli] {
  display: none;
}

@media screen and (min-width: 0) {
  [data-gnl],
[data-kçk],
[data-ort],
[data-byk],
[data-kcm] {
    display: flex;
    flex-wrap: wrap;
  }

  .block {
    display: block;
    width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  @supports (-ms-ime-align: auto) {
    [data-gnl],
[data-kçk],
[data-ort],
[data-byk],
[data-kcm] {
      width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)) - 0.009999%);
      max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)) - 0.009999%);
    }
  }
  [data-gnl~="1"], [data-gnl~="2"], [data-gnl~="3"], [data-gnl~="4"] {
    --a: 1;
    --c: 0;
  }

  [data-gnl~="5"], [data-gnl~="6"], [data-gnl~="7"], [data-gnl~="8"] {
    --a: 2;
    --c: 0;
  }

  [data-gnl~="9"], [data-gnl~="10"], [data-gnl~="11"], [data-gnl~="12"] {
    --a: 3;
    --c: 0;
  }

  [data-gnl~="13"], [data-gnl~="14"], [data-gnl~="15"], [data-gnl~="16"] {
    --a: 4;
    --c: 0;
  }

  [data-gnl~="17"], [data-gnl~="18"], [data-gnl~="19"], [data-gnl~="20"] {
    --a: 5;
    --c: 0;
  }

  [data-gnl~="21"], [data-gnl~="22"], [data-gnl~="23"], [data-gnl~="24"] {
    --a: 6;
    --c: 0;
  }

  [data-gnl~="21"], [data-gnl~="17"], [data-gnl~="13"], [data-gnl~="9"], [data-gnl~="5"], [data-gnl~="1"] {
    --c: 3;
  }

  [data-gnl~="22"], [data-gnl~="18"], [data-gnl~="14"], [data-gnl~="10"], [data-gnl~="6"], [data-gnl~="2"] {
    --c: 2;
  }

  [data-gnl~="23"], [data-gnl~="19"], [data-gnl~="15"], [data-gnl~="11"], [data-gnl~="7"], [data-gnl~="3"] {
    --c: 1;
  }

  [data-gnl~="/1"], [data-gnl~="/2"], [data-gnl~="/3"], [data-gnl~="/4"] {
    --b: 1;
    --d: 0;
  }

  [data-gnl~="/5"], [data-gnl~="/6"], [data-gnl~="/7"], [data-gnl~="/8"] {
    --b: 2;
    --d: 0;
  }

  [data-gnl~="/9"], [data-gnl~="/10"], [data-gnl~="/11"], [data-gnl~="/12"] {
    --b: 3;
    --d: 0;
  }

  [data-gnl~="/13"], [data-gnl~="/14"], [data-gnl~="/15"], [data-gnl~="/16"] {
    --b: 4;
    --d: 0;
  }

  [data-gnl~="/17"], [data-gnl~="/18"], [data-gnl~="/19"], [data-gnl~="/20"] {
    --b: 5;
    --d: 0;
  }

  [data-gnl~="/21"], [data-gnl~="/22"], [data-gnl~="/23"], [data-gnl~="/24"] {
    --b: 6;
    --d: 0;
  }

  [data-gnl~="/21"], [data-gnl~="/17"], [data-gnl~="/13"], [data-gnl~="/9"], [data-gnl~="/5"], [data-gnl~="/1"] {
    --d: 3;
  }

  [data-gnl~="/22"], [data-gnl~="/18"], [data-gnl~="/14"], [data-gnl~="/10"], [data-gnl~="/6"], [data-gnl~="/2"] {
    --d: 2;
  }

  [data-gnl~="/23"], [data-gnl~="/19"], [data-gnl~="/15"], [data-gnl~="/11"], [data-gnl~="/7"], [data-gnl~="/3"] {
    --d: 1;
  }

  [data-gnl] {
    flex: 0 0 calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-gnl~="/0"],
[data-gnl~="%"],
[data-gnl~="&"] {
    width: auto;
    max-width: 100%;
    flex: calc(var(--a) * 4 - var(--c));
  }

  [data-gnl~="%"] {
    min-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-gnl~="&"] {
    max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-gnl~="0"] {
    width: auto;
    max-width: none;
    min-width: none;
    flex: 0 0 auto;
  }

  [data-gnl~="1nc"] {
    order: 1;
  }

  [data-gnl~="2nc"] {
    order: 2;
  }

  [data-gnl~="3nc"] {
    order: 3;
  }

  [data-gnl~="4nc"] {
    order: 4;
  }

  [data-gnl~="5nc"] {
    order: 5;
  }

  [data-gnl~="6nc"] {
    order: 6;
  }

  [data-gnl~="7nc"] {
    order: 7;
  }

  [data-gnl~="8nc"] {
    order: 8;
  }

  [data-gnl~="9nc"] {
    order: 9;
  }

  [data-gnl~="10nc"] {
    order: 10;
  }
}
@media screen and (min-width: 300px) {
  [data-kçk~="1"], [data-kçk~="2"], [data-kçk~="3"], [data-kçk~="4"] {
    --a: 1;
    --c: 0;
  }

  [data-kçk~="5"], [data-kçk~="6"], [data-kçk~="7"], [data-kçk~="8"] {
    --a: 2;
    --c: 0;
  }

  [data-kçk~="9"], [data-kçk~="10"], [data-kçk~="11"], [data-kçk~="12"] {
    --a: 3;
    --c: 0;
  }

  [data-kçk~="13"], [data-kçk~="14"], [data-kçk~="15"], [data-kçk~="16"] {
    --a: 4;
    --c: 0;
  }

  [data-kçk~="17"], [data-kçk~="18"], [data-kçk~="19"], [data-kçk~="20"] {
    --a: 5;
    --c: 0;
  }

  [data-kçk~="21"], [data-kçk~="22"], [data-kçk~="23"], [data-kçk~="24"] {
    --a: 6;
    --c: 0;
  }

  [data-kçk~="21"], [data-kçk~="17"], [data-kçk~="13"], [data-kçk~="9"], [data-kçk~="5"], [data-kçk~="1"] {
    --c: 3;
  }

  [data-kçk~="22"], [data-kçk~="18"], [data-kçk~="14"], [data-kçk~="10"], [data-kçk~="6"], [data-kçk~="2"] {
    --c: 2;
  }

  [data-kçk~="23"], [data-kçk~="19"], [data-kçk~="15"], [data-kçk~="11"], [data-kçk~="7"], [data-kçk~="3"] {
    --c: 1;
  }

  [data-kçk~="/1"], [data-kçk~="/2"], [data-kçk~="/3"], [data-kçk~="/4"] {
    --b: 1;
    --d: 0;
  }

  [data-kçk~="/5"], [data-kçk~="/6"], [data-kçk~="/7"], [data-kçk~="/8"] {
    --b: 2;
    --d: 0;
  }

  [data-kçk~="/9"], [data-kçk~="/10"], [data-kçk~="/11"], [data-kçk~="/12"] {
    --b: 3;
    --d: 0;
  }

  [data-kçk~="/13"], [data-kçk~="/14"], [data-kçk~="/15"], [data-kçk~="/16"] {
    --b: 4;
    --d: 0;
  }

  [data-kçk~="/17"], [data-kçk~="/18"], [data-kçk~="/19"], [data-kçk~="/20"] {
    --b: 5;
    --d: 0;
  }

  [data-kçk~="/21"], [data-kçk~="/22"], [data-kçk~="/23"], [data-kçk~="/24"] {
    --b: 6;
    --d: 0;
  }

  [data-kçk~="/21"], [data-kçk~="/17"], [data-kçk~="/13"], [data-kçk~="/9"], [data-kçk~="/5"], [data-kçk~="/1"] {
    --d: 3;
  }

  [data-kçk~="/22"], [data-kçk~="/18"], [data-kçk~="/14"], [data-kçk~="/10"], [data-kçk~="/6"], [data-kçk~="/2"] {
    --d: 2;
  }

  [data-kçk~="/23"], [data-kçk~="/19"], [data-kçk~="/15"], [data-kçk~="/11"], [data-kçk~="/7"], [data-kçk~="/3"] {
    --d: 1;
  }

  [data-kçk] {
    flex: 0 0 calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-kçk~="/0"],
[data-kçk~="%"],
[data-kçk~="&"] {
    width: auto;
    max-width: 100%;
    flex: calc(var(--a) * 4 - var(--c));
  }

  [data-kçk~="%"] {
    min-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-kçk~="&"] {
    max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-kçk~="0"] {
    width: auto;
    max-width: none;
    min-width: none;
    flex: 0 0 auto;
  }

  [data-kçk~="1nc"] {
    order: 1;
  }

  [data-kçk~="2nc"] {
    order: 2;
  }

  [data-kçk~="3nc"] {
    order: 3;
  }

  [data-kçk~="4nc"] {
    order: 4;
  }

  [data-kçk~="5nc"] {
    order: 5;
  }

  [data-kçk~="6nc"] {
    order: 6;
  }

  [data-kçk~="7nc"] {
    order: 7;
  }

  [data-kçk~="8nc"] {
    order: 8;
  }

  [data-kçk~="9nc"] {
    order: 9;
  }

  [data-kçk~="10nc"] {
    order: 10;
  }
}
@media screen and (min-width: 768px) {
  [data-ort~="1"], [data-ort~="2"], [data-ort~="3"], [data-ort~="4"] {
    --a: 1;
    --c: 0;
  }

  [data-ort~="5"], [data-ort~="6"], [data-ort~="7"], [data-ort~="8"] {
    --a: 2;
    --c: 0;
  }

  [data-ort~="9"], [data-ort~="10"], [data-ort~="11"], [data-ort~="12"] {
    --a: 3;
    --c: 0;
  }

  [data-ort~="13"], [data-ort~="14"], [data-ort~="15"], [data-ort~="16"] {
    --a: 4;
    --c: 0;
  }

  [data-ort~="17"], [data-ort~="18"], [data-ort~="19"], [data-ort~="20"] {
    --a: 5;
    --c: 0;
  }

  [data-ort~="21"], [data-ort~="22"], [data-ort~="23"], [data-ort~="24"] {
    --a: 6;
    --c: 0;
  }

  [data-ort~="21"], [data-ort~="17"], [data-ort~="13"], [data-ort~="9"], [data-ort~="5"], [data-ort~="1"] {
    --c: 3;
  }

  [data-ort~="22"], [data-ort~="18"], [data-ort~="14"], [data-ort~="10"], [data-ort~="6"], [data-ort~="2"] {
    --c: 2;
  }

  [data-ort~="23"], [data-ort~="19"], [data-ort~="15"], [data-ort~="11"], [data-ort~="7"], [data-ort~="3"] {
    --c: 1;
  }

  [data-ort~="/1"], [data-ort~="/2"], [data-ort~="/3"], [data-ort~="/4"] {
    --b: 1;
    --d: 0;
  }

  [data-ort~="/5"], [data-ort~="/6"], [data-ort~="/7"], [data-ort~="/8"] {
    --b: 2;
    --d: 0;
  }

  [data-ort~="/9"], [data-ort~="/10"], [data-ort~="/11"], [data-ort~="/12"] {
    --b: 3;
    --d: 0;
  }

  [data-ort~="/13"], [data-ort~="/14"], [data-ort~="/15"], [data-ort~="/16"] {
    --b: 4;
    --d: 0;
  }

  [data-ort~="/17"], [data-ort~="/18"], [data-ort~="/19"], [data-ort~="/20"] {
    --b: 5;
    --d: 0;
  }

  [data-ort~="/21"], [data-ort~="/22"], [data-ort~="/23"], [data-ort~="/24"] {
    --b: 6;
    --d: 0;
  }

  [data-ort~="/21"], [data-ort~="/17"], [data-ort~="/13"], [data-ort~="/9"], [data-ort~="/5"], [data-ort~="/1"] {
    --d: 3;
  }

  [data-ort~="/22"], [data-ort~="/18"], [data-ort~="/14"], [data-ort~="/10"], [data-ort~="/6"], [data-ort~="/2"] {
    --d: 2;
  }

  [data-ort~="/23"], [data-ort~="/19"], [data-ort~="/15"], [data-ort~="/11"], [data-ort~="/7"], [data-ort~="/3"] {
    --d: 1;
  }

  [data-ort] {
    flex: 0 0 calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-ort~="/0"],
[data-ort~="%"],
[data-ort~="&"] {
    width: auto;
    max-width: 100%;
    flex: calc(var(--a) * 4 - var(--c));
  }

  [data-ort~="%"] {
    min-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-ort~="&"] {
    max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-ort~="0"] {
    width: auto;
    max-width: none;
    min-width: none;
    flex: 0 0 auto;
  }

  [data-ort~="1nc"] {
    order: 1;
  }

  [data-ort~="2nc"] {
    order: 2;
  }

  [data-ort~="3nc"] {
    order: 3;
  }

  [data-ort~="4nc"] {
    order: 4;
  }

  [data-ort~="5nc"] {
    order: 5;
  }

  [data-ort~="6nc"] {
    order: 6;
  }

  [data-ort~="7nc"] {
    order: 7;
  }

  [data-ort~="8nc"] {
    order: 8;
  }

  [data-ort~="9nc"] {
    order: 9;
  }

  [data-ort~="10nc"] {
    order: 10;
  }
}
@media screen and (min-width: 992px) {
  [data-byk~="1"], [data-byk~="2"], [data-byk~="3"], [data-byk~="4"] {
    --a: 1;
    --c: 0;
  }

  [data-byk~="5"], [data-byk~="6"], [data-byk~="7"], [data-byk~="8"] {
    --a: 2;
    --c: 0;
  }

  [data-byk~="9"], [data-byk~="10"], [data-byk~="11"], [data-byk~="12"] {
    --a: 3;
    --c: 0;
  }

  [data-byk~="13"], [data-byk~="14"], [data-byk~="15"], [data-byk~="16"] {
    --a: 4;
    --c: 0;
  }

  [data-byk~="17"], [data-byk~="18"], [data-byk~="19"], [data-byk~="20"] {
    --a: 5;
    --c: 0;
  }

  [data-byk~="21"], [data-byk~="22"], [data-byk~="23"], [data-byk~="24"] {
    --a: 6;
    --c: 0;
  }

  [data-byk~="21"], [data-byk~="17"], [data-byk~="13"], [data-byk~="9"], [data-byk~="5"], [data-byk~="1"] {
    --c: 3;
  }

  [data-byk~="22"], [data-byk~="18"], [data-byk~="14"], [data-byk~="10"], [data-byk~="6"], [data-byk~="2"] {
    --c: 2;
  }

  [data-byk~="23"], [data-byk~="19"], [data-byk~="15"], [data-byk~="11"], [data-byk~="7"], [data-byk~="3"] {
    --c: 1;
  }

  [data-byk~="/1"], [data-byk~="/2"], [data-byk~="/3"], [data-byk~="/4"] {
    --b: 1;
    --d: 0;
  }

  [data-byk~="/5"], [data-byk~="/6"], [data-byk~="/7"], [data-byk~="/8"] {
    --b: 2;
    --d: 0;
  }

  [data-byk~="/9"], [data-byk~="/10"], [data-byk~="/11"], [data-byk~="/12"] {
    --b: 3;
    --d: 0;
  }

  [data-byk~="/13"], [data-byk~="/14"], [data-byk~="/15"], [data-byk~="/16"] {
    --b: 4;
    --d: 0;
  }

  [data-byk~="/17"], [data-byk~="/18"], [data-byk~="/19"], [data-byk~="/20"] {
    --b: 5;
    --d: 0;
  }

  [data-byk~="/21"], [data-byk~="/22"], [data-byk~="/23"], [data-byk~="/24"] {
    --b: 6;
    --d: 0;
  }

  [data-byk~="/21"], [data-byk~="/17"], [data-byk~="/13"], [data-byk~="/9"], [data-byk~="/5"], [data-byk~="/1"] {
    --d: 3;
  }

  [data-byk~="/22"], [data-byk~="/18"], [data-byk~="/14"], [data-byk~="/10"], [data-byk~="/6"], [data-byk~="/2"] {
    --d: 2;
  }

  [data-byk~="/23"], [data-byk~="/19"], [data-byk~="/15"], [data-byk~="/11"], [data-byk~="/7"], [data-byk~="/3"] {
    --d: 1;
  }

  [data-byk] {
    flex: 0 0 calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-byk~="/0"],
[data-byk~="%"],
[data-byk~="&"] {
    width: auto;
    max-width: 100%;
    flex: calc(var(--a) * 4 - var(--c));
  }

  [data-byk~="%"] {
    min-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-byk~="&"] {
    max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-byk~="0"] {
    width: auto;
    max-width: none;
    min-width: none;
    flex: 0 0 auto;
  }

  [data-byk~="1nc"] {
    order: 1;
  }

  [data-byk~="2nc"] {
    order: 2;
  }

  [data-byk~="3nc"] {
    order: 3;
  }

  [data-byk~="4nc"] {
    order: 4;
  }

  [data-byk~="5nc"] {
    order: 5;
  }

  [data-byk~="6nc"] {
    order: 6;
  }

  [data-byk~="7nc"] {
    order: 7;
  }

  [data-byk~="8nc"] {
    order: 8;
  }

  [data-byk~="9nc"] {
    order: 9;
  }

  [data-byk~="10nc"] {
    order: 10;
  }
}
@media screen and (min-width: 1200px) {
  [data-kcm~="1"], [data-kcm~="2"], [data-kcm~="3"], [data-kcm~="4"] {
    --a: 1;
    --c: 0;
  }

  [data-kcm~="5"], [data-kcm~="6"], [data-kcm~="7"], [data-kcm~="8"] {
    --a: 2;
    --c: 0;
  }

  [data-kcm~="9"], [data-kcm~="10"], [data-kcm~="11"], [data-kcm~="12"] {
    --a: 3;
    --c: 0;
  }

  [data-kcm~="13"], [data-kcm~="14"], [data-kcm~="15"], [data-kcm~="16"] {
    --a: 4;
    --c: 0;
  }

  [data-kcm~="17"], [data-kcm~="18"], [data-kcm~="19"], [data-kcm~="20"] {
    --a: 5;
    --c: 0;
  }

  [data-kcm~="21"], [data-kcm~="22"], [data-kcm~="23"], [data-kcm~="24"] {
    --a: 6;
    --c: 0;
  }

  [data-kcm~="21"], [data-kcm~="17"], [data-kcm~="13"], [data-kcm~="9"], [data-kcm~="5"], [data-kcm~="1"] {
    --c: 3;
  }

  [data-kcm~="22"], [data-kcm~="18"], [data-kcm~="14"], [data-kcm~="10"], [data-kcm~="6"], [data-kcm~="2"] {
    --c: 2;
  }

  [data-kcm~="23"], [data-kcm~="19"], [data-kcm~="15"], [data-kcm~="11"], [data-kcm~="7"], [data-kcm~="3"] {
    --c: 1;
  }

  [data-kcm~="/1"], [data-kcm~="/2"], [data-kcm~="/3"], [data-kcm~="/4"] {
    --b: 1;
    --d: 0;
  }

  [data-kcm~="/5"], [data-kcm~="/6"], [data-kcm~="/7"], [data-kcm~="/8"] {
    --b: 2;
    --d: 0;
  }

  [data-kcm~="/9"], [data-kcm~="/10"], [data-kcm~="/11"], [data-kcm~="/12"] {
    --b: 3;
    --d: 0;
  }

  [data-kcm~="/13"], [data-kcm~="/14"], [data-kcm~="/15"], [data-kcm~="/16"] {
    --b: 4;
    --d: 0;
  }

  [data-kcm~="/17"], [data-kcm~="/18"], [data-kcm~="/19"], [data-kcm~="/20"] {
    --b: 5;
    --d: 0;
  }

  [data-kcm~="/21"], [data-kcm~="/22"], [data-kcm~="/23"], [data-kcm~="/24"] {
    --b: 6;
    --d: 0;
  }

  [data-kcm~="/21"], [data-kcm~="/17"], [data-kcm~="/13"], [data-kcm~="/9"], [data-kcm~="/5"], [data-kcm~="/1"] {
    --d: 3;
  }

  [data-kcm~="/22"], [data-kcm~="/18"], [data-kcm~="/14"], [data-kcm~="/10"], [data-kcm~="/6"], [data-kcm~="/2"] {
    --d: 2;
  }

  [data-kcm~="/23"], [data-kcm~="/19"], [data-kcm~="/15"], [data-kcm~="/11"], [data-kcm~="/7"], [data-kcm~="/3"] {
    --d: 1;
  }

  [data-kcm] {
    flex: 0 0 calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-kcm~="/0"],
[data-kcm~="%"],
[data-kcm~="&"] {
    width: auto;
    max-width: 100%;
    flex: calc(var(--a) * 4 - var(--c));
  }

  [data-kcm~="%"] {
    min-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-kcm~="&"] {
    max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-kcm~="0"] {
    width: auto;
    max-width: none;
    min-width: none;
    flex: 0 0 auto;
  }

  [data-kcm~="1nc"] {
    order: 1;
  }

  [data-kcm~="2nc"] {
    order: 2;
  }

  [data-kcm~="3nc"] {
    order: 3;
  }

  [data-kcm~="4nc"] {
    order: 4;
  }

  [data-kcm~="5nc"] {
    order: 5;
  }

  [data-kcm~="6nc"] {
    order: 6;
  }

  [data-kcm~="7nc"] {
    order: 7;
  }

  [data-kcm~="8nc"] {
    order: 8;
  }

  [data-kcm~="9nc"] {
    order: 9;
  }

  [data-kcm~="10nc"] {
    order: 10;
  }
}
@media screen and (min-width: 1900px) {
  [data-ulu~="1"], [data-ulu~="2"], [data-ulu~="3"], [data-ulu~="4"] {
    --a: 1;
    --c: 0;
  }

  [data-ulu~="5"], [data-ulu~="6"], [data-ulu~="7"], [data-ulu~="8"] {
    --a: 2;
    --c: 0;
  }

  [data-ulu~="9"], [data-ulu~="10"], [data-ulu~="11"], [data-ulu~="12"] {
    --a: 3;
    --c: 0;
  }

  [data-ulu~="13"], [data-ulu~="14"], [data-ulu~="15"], [data-ulu~="16"] {
    --a: 4;
    --c: 0;
  }

  [data-ulu~="17"], [data-ulu~="18"], [data-ulu~="19"], [data-ulu~="20"] {
    --a: 5;
    --c: 0;
  }

  [data-ulu~="21"], [data-ulu~="22"], [data-ulu~="23"], [data-ulu~="24"] {
    --a: 6;
    --c: 0;
  }

  [data-ulu~="21"], [data-ulu~="17"], [data-ulu~="13"], [data-ulu~="9"], [data-ulu~="5"], [data-ulu~="1"] {
    --c: 3;
  }

  [data-ulu~="22"], [data-ulu~="18"], [data-ulu~="14"], [data-ulu~="10"], [data-ulu~="6"], [data-ulu~="2"] {
    --c: 2;
  }

  [data-ulu~="23"], [data-ulu~="19"], [data-ulu~="15"], [data-ulu~="11"], [data-ulu~="7"], [data-ulu~="3"] {
    --c: 1;
  }

  [data-ulu~="/1"], [data-ulu~="/2"], [data-ulu~="/3"], [data-ulu~="/4"] {
    --b: 1;
    --d: 0;
  }

  [data-ulu~="/5"], [data-ulu~="/6"], [data-ulu~="/7"], [data-ulu~="/8"] {
    --b: 2;
    --d: 0;
  }

  [data-ulu~="/9"], [data-ulu~="/10"], [data-ulu~="/11"], [data-ulu~="/12"] {
    --b: 3;
    --d: 0;
  }

  [data-ulu~="/13"], [data-ulu~="/14"], [data-ulu~="/15"], [data-ulu~="/16"] {
    --b: 4;
    --d: 0;
  }

  [data-ulu~="/17"], [data-ulu~="/18"], [data-ulu~="/19"], [data-ulu~="/20"] {
    --b: 5;
    --d: 0;
  }

  [data-ulu~="/21"], [data-ulu~="/22"], [data-ulu~="/23"], [data-ulu~="/24"] {
    --b: 6;
    --d: 0;
  }

  [data-ulu~="/21"], [data-ulu~="/17"], [data-ulu~="/13"], [data-ulu~="/9"], [data-ulu~="/5"], [data-ulu~="/1"] {
    --d: 3;
  }

  [data-ulu~="/22"], [data-ulu~="/18"], [data-ulu~="/14"], [data-ulu~="/10"], [data-ulu~="/6"], [data-ulu~="/2"] {
    --d: 2;
  }

  [data-ulu~="/23"], [data-ulu~="/19"], [data-ulu~="/15"], [data-ulu~="/11"], [data-ulu~="/7"], [data-ulu~="/3"] {
    --d: 1;
  }

  [data-ulu] {
    flex: 0 0 calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-ulu~="/0"],
[data-ulu~="%"],
[data-ulu~="&"] {
    width: auto;
    max-width: 100%;
    flex: calc(var(--a) * 4 - var(--c));
  }

  [data-ulu~="%"] {
    min-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-ulu~="&"] {
    max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
  }

  [data-ulu~="0"] {
    width: auto;
    max-width: none;
    min-width: none;
    flex: 0 0 auto;
  }

  [data-ulu~="1nc"] {
    order: 1;
  }

  [data-ulu~="2nc"] {
    order: 2;
  }

  [data-ulu~="3nc"] {
    order: 3;
  }

  [data-ulu~="4nc"] {
    order: 4;
  }

  [data-ulu~="5nc"] {
    order: 5;
  }

  [data-ulu~="6nc"] {
    order: 6;
  }

  [data-ulu~="7nc"] {
    order: 7;
  }

  [data-ulu~="8nc"] {
    order: 8;
  }

  [data-ulu~="9nc"] {
    order: 9;
  }

  [data-ulu~="10nc"] {
    order: 10;
  }
}/*# sourceMappingURL=deveb.css.map */