<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/deveb.css' | relative_url }}" mode="flex">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <!-- Rouge kod renklendirme stil dosyan -->
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
    <style>
        body { font-family: sans-serif; margin: 40px auto; padding: 0 20px; line-height: 1.6; align-content: flex-start; }
        header { border-bottom: 1px solid #eee; margin-bottom: 20px; }
        footer { margin-top: 40px; font-size: 0.9em; color: #666; border-top: 1px solid #eee; }
        article { max-width: 700px; }
        p{margin-bottom: 30px;}
    </style>
</head>
<body xs="(1/1)">
    <header xs="(1/1)">
        <h1><a href="{{ '/' | relative_url }}" style="text-decoration: none; color: #333;">{{ site.title }}</a></h1>
    </header>
    
    <main xs="(1/1)">
        {{ content }}
    </main>
    
    <footer xs="(1/1)">
        <p>&copy; 2026 - Tüm hakları saklıdır.</p>
    </footer>
</body>
</html>