<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/deveb.css' | relative_url }}" mode="flex">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <!-- Rouge kod renklendirme stil dosyan -->
    <link rel="stylesheet" href="{{ '/assets/css/syntax.css' | relative_url }}">
    <style>

        article { max-width: 700px; }
        p{margin-bottom: 30px;}


    </style>
</head>
<body xs="(1/1)">
    <header xs="(1/1)">
        <div class="container">
            {% include header.html %}
        </div>
    </header>
    
    <main xs="(1/1)">
        <div class="container">
            {{ content }}
        </div>
    </main>
    
    <footer xs="(1/1)">
        <div class="container">
            {% include footer.html %}
        </div>
    </footer>
</body>
</html>