<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/deveb.css' | relative_url }}" mode="flex">
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
</head>
<body xs="(1/1)">
    
    {% assign sorted_docs = site.docs | sort: 'nav_order' %}

    <aside xs="(1/12)">
        <nav>
            <ul>
                {% for doc in sorted_docs %}
                <li>
                    <a href="{{ doc.url | relative_url }}" {% if page.url == doc.url %}class="active"{% endif %}>
                        {{ doc.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </aside>
    <main xs="(11/12)">
        <article>
            <header>
                Article Header
            </header>
            <main>
                Article Main
            </main>
            <footer>
                Article Footer
            </footer>
        </article>
    </main>

</body>
</html>