@use "../../ayarlar" as *;

// Şu "0 /0" ne demek?
// Tek bir değer bile tanımlamayıp özüne göre genişlik kazanmasını belirttiğimiz değerdir.
// İlk baştaki 0 yerine 1 2 3 gibi sayılar yazarsanız esnetme düzeninde yazılan sayı değerinde kat kazanır ve esner.

@mixin esnetme-düzeni($ekran) {
  
    [#{$ön-ek}#{$ekran}~="/0"], 
    [#{$ön-ek}#{$ekran}~="%"], 
    [#{$ön-ek}#{$ekran}~="&"]{
      width: auto;
      max-width: 100%;
      flex: calc(var(--a) * 4 - var(--c)); // Esnek düzen sayıştırma ayarları
    }
  
    [#{$ön-ek}#{$ekran}~="%"]{
      min-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
    }

    [#{$ön-ek}#{$ekran}~="&"]{
      max-width: calc(100% / (var(--b) * 4 - var(--d)) * (var(--a) * 4 - var(--c)));
    }

    [#{$ön-ek}#{$ekran}~="0"]{
      width: auto;
      max-width: none;
      min-width: none;
      flex: 0 0 auto;
    }
  
  }
