@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.damga{
    font-family: 'Comfortaa', cursive;
    margin: 10px;
    font-size:x-large;
}
.site-nav{
    margin-left: auto;
}
.site-nav .trigger{
    gap: 15px;
}

.tag {
    margin: 5px;
    padding: 4px;
    border: 1px dashed #031501;
}
.tag:hover {
    color:chocolate;
}