<!-- Sol Sütun: Site Hakkında veya Künye -->
<div class="(12/12)">
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
</div>

<!-- Orta Sütun: Hızlı Bağlantılar -->
<div class="(6/12)">
  <ul class="contact-list flex (12/12)">
    <li><b>Quick Links:</b></li>
    <li><a href="{{ '/' | relative_url }}">Home Page</a></li>
    <li><a href="{{ '/about/' | relative_url }}">About</a></li>
    <li><a href="{{ '/blog/' | relative_url }}">Blog</a></li>
  </ul>
</div>

<!-- Sağ Sütun: Sosyal Medya ve Telif -->
<div class="(6/12)">  
  {% if site.github_username %}
  <a href="https://github.com/{{ site.github_username }}" target="_blank" rel="noopener">GitHub </a>
  {% endif %}
  {% if site.twitter_username %}
  <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank" rel="noopener">Twitter </a>
  {% endif %}
</div>
<div>
  <p>Copyright {{ site.time | date: '%Y' }} </p>
</div>