<div xs="(1/1)">
    <a class="damga" rel="author" href="{{ '/' | relative_url }}">deveb.css</a>

    <nav class="site-nav" xs="center">
      <div class="trigger">
        <a class="page-link" href="{{ '/docs/' | relative_url }}">Docs</a>
        <a class="page-link" href="{{ '/examples/' | relative_url }}">Examples</a>
        <a class="page-link" href="{{ '/play/' | relative_url }}">Playground</a>
        <a class="page-link" href="{{ '/blog/' | relative_url }}">Blog</a>
        <a class="page-link" href="{{ '/iletisim/' | relative_url }}">About</a>
      </div>
    </nav>
  </div>