$germeler: (
    class: 0,       // dikey tutulan telefon ekranları ve daha küçükleri
    \-küçük: 576px,   // yatay tutulan telefon ekranları ve daha büyükleri
    \-orta: 768px,   // tablet bilgisayar ekranları ve daha büyükleri
    \-büyük: 992px,   // dizüstü bilgisayar ekranları ve daha büyükleri
    \-koca: 1200px   // düz bilgisayar ekranları ve daha büyükleri
);


// telefon

//320 x 568 piksel: iPhone SE
//375 x 667 piksel: iPhone 6, iPhone 6s, iPhone 6 Plus, iPhone 6s Plus, iPhone 7, iPhone 8
//375 x 812 piksel: iPhone X, iPhone XS, iPhone 11 Pro
//414 x 736 piksel: iPhone 6 Plus, iPhone 6s Plus, iPhone 7 Plus, iPhone 8 Plus
//414 x 896 piksel: iPhone XR, iPhone XS Max, iPhone 11, iPhone 11 Pro Max
//1080 x 1920 piksel: Samsung Galaxy S5, Samsung Galaxy S6, Samsung Galaxy S7, Samsung Galaxy S8 Active, Samsung Galaxy S9 Active, HTC One M8, HTC One M9, HTC 10, LG G2, LG G3, LG G4, LG G5, LG G6, LG V10, LG V20, Google Pixel 2, Google Pixel 3, Google Pixel 4, Sony Xperia XZ Premium, Sony Xperia XZ1, Sony Xperia XZ2, Sony Xperia XZ3, OnePlus 3T, OnePlus 5, OnePlus 5T, OnePlus 6, Xiaomi Mi 5, Xiaomi Mi 6, Xiaomi Mi 8, Xiaomi Mi 9
//1440 x 2560 piksel: Samsung Galaxy S6 Edge, Samsung Galaxy S7 Edge, Samsung Galaxy S8, Samsung Galaxy S8 Plus, Samsung Galaxy S9, Samsung Galaxy S9 Plus, Samsung Galaxy Note 4, Samsung Galaxy Note 5, Samsung Galaxy Note 7, Samsung Galaxy Note 8, LG G Flex 2, LG V30, Google Pixel XL, Google Pixel 2 XL, Google Pixel 3 XL, OnePlus 3, OnePlus 3T, OnePlus 5, OnePlus 5T, OnePlus 6, Sony Xperia XZ Premium, Sony Xperia XZ1, Sony Xperia XZ2, Sony Xperia XZ3, HTC U11, HTC U12 Plus, Xiaomi Mi Mix, Xiaomi Mi Mix 2, Xiaomi Mi Mix 3
//1440 x 3040 piksel: Samsung Galaxy S10, Samsung Galaxy S20, Samsung Galaxy S21, Samsung Galaxy Note 10, Samsung Galaxy Note 20
//1620 x 2160 piksel: BlackBerry Key2
//2246 x 1080 piksel: Sony Xperia 10
//2340 x 1080 piksel: OnePlus 6T, OnePlus 7, OnePlus 7T, OnePlus 8, OnePlus 8T, OnePlus Nord, Google Pixel 3a, Google Pixel 4a
//2400 x 1080 piksel: Samsung Galaxy A51, Samsung Galaxy A71, Samsung Galaxy S10 Lite, Samsung Galaxy S20 FE
//2400 x 1080 piksel = Samsung Galaxy A51, Samsung Galaxy A71, Samsung Galaxy S10 Lite, Oppo Reno3, Oppo Reno3 Pro, Oppo Reno4, Oppo Reno4 Pro, Vivo V20 Pro, Vivo V20 SE, Realme 7 Pro, Realme X3 SuperZoom, Motorola Edge (2020), Motorola Edge+ (2020), TCL 10 Plus, Sony Xperia 1 II, Sony Xperia 5 II

// tablet
// 2732 x 2048 piksel: Apple iPad Pro (12.9 inç)
//2360 x 1640 piksel: Apple iPad Air (10.9 inç)
//2160 x 1620 piksel: Apple iPad (10.2 inç)
//2800 x 1752 piksel: Samsung Galaxy Tab S7+ (12.4 inç)
//2560 x 1600 piksel: Samsung Galaxy Tab S7 (11 inç), Lenovo Tab P11 Pro (11.5 inç), Huawei MatePad Pro (10.8 inç)
//2000 x 1200 piksel: Samsung Galaxy Tab S6 Lite (10.4 inç)
//2736 x 1824 piksel: Microsoft Surface Pro 7 (12.3 inç)
//1920 x 1280 piksel: Microsoft Surface Go 2 (10.5 inç)
//1920 x 1200 piksel: Amazon Fire HD 10 (10.1 inç)

// dizüstü
// 1024 X 1366 = iPad Pro 12.9-inch (2nd generation), iPad Pro (12.9-inch)
// 1112 X 834 = iPad Pro 10.5-inch
// 768 X 1024 = iPad Pro (9.7-inch), iPad Air 2, iPad Mini 4
