@use "../../ayarlar" as *;

@mixin dayama-düzeni($germeAdı){
    [#{$germeAdı}*="ortalı yazı"]{text-align: center;}
    [#{$germeAdı}*="başuçlu yazı"]{text-align: start;}
    [#{$germeAdı}*="sollu yazı"]{text-align: left;}
    [#{$germeAdı}*="ayakuçlu yazı"]{text-align: end;}
    [#{$germeAdı}*="sağlı yazı"]{text-align: right;}
    [#{$germeAdı}*="yazıyı yasa"]{text-align: justify;}

    [#{$germeAdı}*="ortalı"]{justify-content: center;}

}